[Unit]
Description="Guix Daemon Socket"
Documentation=man:guix-daemon(1)
Documentation=man:guix-repl(1)
BindsTo=guix-daemon.service
Before=shutdown.target
After=systemd-sysusers.service
DefaultDependencies=no
StopWhenUnneeded=true

#ListenDatagram=/run/systemd/journal.%i/dev-log
#ListenDatagram=/run/systemd/journal.%i/socket
#ListenDatagram=/run/systemd/journal/dev-log
#ListenDatagram=/run/systemd/journal/socket
#ListenDatagram=/run/systemd/journal/syslog
#ListenFIFO=/run/dmeventd-client
#ListenFIFO=/run/dmeventd-server
#ListenSequentialPacket=/run/udev/control
#ListenSpecial=/dev/rfkill

#MaxConnections=10
#MaxConnectionsPerSource=16
#PassCredentials=true
#PassPacketInfo=true
#PassSecurity=true
#ReceiveBuffer=128M
#ReceiveBuffer=8M

RequiresMountsFor=/gnu/store

[Socket]
Timestamping=us
#RuntimeDirectory=uuidd
RestrictAddressFamilies= AF_UNIX
ListenStream=/var/guix/daemon-socket/socket
Service=guix-daemon.service
Group=guix-daemon
User=guix-daemon
SocketUser=guix-daemon
SocketGroup=guix-daemon
SocketMode=0660


SendBuffer=8M
RemoveOnStop=true
[Install]

UpheldBy=sockets.target
/var/guix/daemon-socket/
